<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="identifier" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAZ6XVUMzAykyRvh+d9syQYQAAAAACAAAAAAAQZgAAAAEAACAAAAC0C1sLLxnhYmnIdhxGxcB65gnv7YBFcz8wgmU5LVgj4AAAAAAOgAAAAAIAACAAAACT2dnz7ZJz0whcNvZyrn1ClExBwWshmEw/GAbGBBFgPCAAAAAKEfuxcJVXet0Mga10BYVXAgPae/0qw18Y4rnyX1uRkEAAAABWiLFnb7lx/J2hjZnsqTIDgLonKNnwfVV6762xU4Y9YjFdt9SnGxPH1zYRlzW28zsfC8YwotiwAPi+o4jjnmAm"/>
		<add key="password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAZ6XVUMzAykyRvh+d9syQYQAAAAACAAAAAAAQZgAAAAEAACAAAADd/3sDu7eRsLYV6SuxyAEIGMzLv7yT/3hbUCqiuA8BugAAAAAOgAAAAAIAACAAAADaHtwBvBbjy3h/ZUFVtE8yfRXJCRpqML5uB0XT54LUxyAAAAAijzRd/zBFg9z6fJEo0I/Dz5sZCJCFOcAF6Bz4wfrWK0AAAADuqV+ToMk2DX3cgAuSRahQw3W3eq5bHBd/p6OF2ch9OCirb9YTgJeJG8RiIg+JGtWXQiHCRt4jRxB8purJf0GU"/>
	</appSettings>
</configuration>